---
import Layout from "../layouts/Layout.astro"
import GoogleForm from "../components/GoogleForm.vue"
---


<Layout >
<div class="about-container">
        <br />
        <p>מהדורת אינטרנט לספר סדר פתרון חלומות</p>
        <br />

        <p>
            אפשר לצור קשר
            <a href="mailto:yehudah29@gmail.com">באימייל הזה.</a>
        </p>
        <br />
        <GoogleForm client:load />
        <br />
        <br />
        

        <br />
        <br />
        
        
        

    </div>
    <br />
    <br />
    <div class="banner">
        <b>תפילה תשובה וצדקה</b>
        <b>מעבירים את רוע הגזירה</b>
        <b>-בראשית רבה</b>
    </div>
</Layout>