---

import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<br/>
    <div class="home-container">
       <h1>ספר סדר פתרון חלומות</h1>
    <h3>
      מהרב הגאון רבינו האי ז"ל ויוסף הצדיק ודניאל איש חמודות <br />
      ורש"י ז"ל וחכמים אחרים
    </h3>
    <h3>נדפס לבקשת הבחור יקר ונבון כמ"ר מנחם בכה"ר דוד טרינקי יצ"ו</h3>
          <h3>דפוס ונציה 5383</h3>

    <br /> 

      <a href="/book" class="enter">  כניסה לקריאה  <i class="fa-solid fa-arrow-left"></i></a><br/>
      
      
    </div>
</Layout>
