<div class="hai-links">

        <a href="/book" aria-label="חלק א">חלק א'</a>
        <a href="/book-2" aria-label="חלק ב">חלק ב'</a>
        <a href="/book-3" aria-label="חלק ג">חלק ג'</a>
      </div>