<div class="links">
  <a href="/" aria-label="עמוד הבית"
    ><img src="/home2.svg" alt="" srcset="" /></a
  >
  <a href="/book" aria-label="ספר פתרון חלומות"> פתרון חלומות לרב האי גאון</a>
  <a href="/roe1" aria-label="פרק הרואה"> פרק הרואה</a>

  <a href="/about">אודות</a>
</div>

<!-- <i class="fa-solid fa-house"></i> -->

<style>
  a img {
    height: 27px;
    width: 27px;
  }
</style>
