<div class="links">
      <a to="/"><i class="fa-solid fa-house"></i></a>
      <a to="/book"> חלק א'</a>
      <a to="/book-2"> חלק ב'</a>
      <a to="/book-3"> חלק ג'</a>
      <a to="/roe1"> פרק הרואה</a>

      <a to="/about">אודות</a>
</div>