<div class="links">
      <a href="/"><i class="fa-solid fa-house"></i></a>
      <a href="/book"> חלק א'</a>
      <a href="/book-2"> חלק ב'</a>
      <a href="/book-3"> חלק ג'</a>
      <a href="/roe1"> פרק הרואה</a>

      <a href="/about">אודות</a>
</div>