<div class="roe-links">

        <a href="/roe1">נד ע"א </a>
        <a href="/roe2">נד ע"ב </a>
        <a href="/roe3">נה ע"א </a>
       <a href="/roe4">נה ע"ב</a>
        <a href="/roe5">נו ע"א</a>
        <a href="/roe6">נו ע"ב</a>
        <a href="/roe7">נז ע"א</a>
        <a href="/roe8">נז ע"ב</a>
      </div>