<div class="roe-links">

        <a href="/roe1" aria-label="נד א">נד ע"א </a>
        <a href="/roe2" aria-label="נד ב">נד ע"ב </a>
        <a href="/roe3" aria-label="נה א">נה ע"א </a>
       <a href="/roe4" aria-label="נה ב">נה ע"ב</a>
        <a href="/roe5" aria-label="נו א">נו ע"א</a>
        <a href="/roe6" aria-label="נו ב">נו ע"ב</a>
        <a href="/roe7" aria-label="נז א">נז ע"א</a>
        <a href="/roe8" aria-label="נז ב">נז ע"ב</a>
      </div>