---
import "../assets/main.css"
import Links from "../components/Links.astro"
import Circle from "../components/Circle.astro"

---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		
		<title>סדר פתרון חלומות</title>
	</head>
	<body>
		
     <Links />
		<slot />
		<Circle />
		<Links/>

		
		
<script

src="/nagishli.js?v=2.3" charset="utf-8" defer></script>
	</body>
</html>